:root {
  --dark-color: #2e2f42;
  --light-color: #f4f4fd;
  --white-color: #ffffff;
  --black-color: #000000;
  --primary-brand-color: #4d5ae5;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --pressed-state-color: #404bbf;
  --success-color: #31d0aa;
  --secondary-font: 'Raleway', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: var(--dark-color);
  background-color: var(--white-color);
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-iris {
  color: var(--primary-brand-color);
}

.logo-light {
  color: var(--light-color);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  font-style: normal;

  color: inherit;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;

  color: var(--dark-color);
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--dark-color);
}
.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  padding: 12px 24px;
  align-items: center;
  letter-spacing: 0.04em;

  border: 1px;
  border-style: solid;
  border-radius: 4px;

  cursor: pointer;
}
/*----------------------Header----------------------*/

.header {
  border-bottom: 1px solid var(--accent-color);
  padding-top: 24px;
  padding-bottom: 24px;

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.mobile-menu-button {
  position: absolute;
  display: flex;
  right: 16px;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 22px;
  fill: var(--black-color);
  background-color: transparent;
  border: none;
}
.menu-icon {
}
.header-nav-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--white-color);
  padding: 24px;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.header-nav-wrap.is-open {
  transform: translateX(0);
}
.close-button-menu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 24px;
  top: 24px;
  background-color: var(--light-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.close-icon-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8px;
  height: 8px;
  fill: var(--black-color);
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-logo {
}
.header-list {
  margin-top: 32px;
  margin-bottom: 84px;
}
.header-item {
  margin-bottom: 40px;
}
.header-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--primary-brand-color);
}
.header-link.active {
  color: var(--pressed-state-color);
}
.header-link.active::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--pressed-state-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -28px;
}
.contact {
  margin-left: auto;
}
.contact-list {
  display: flex;
  flex-direction: column-reverse;
}
.contact-item {
  margin-bottom: 40px;
}
.contact-link {
  color: var(--text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--primary-brand-color);
}
.contact-tel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-brand-color);
}
.contact-email {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.header-social-list {
  margin-top: 48px;
  display: flex;
  justify-content: center;

  gap: 64px;
}
.header-social-item {
  width: 40px;
  height: 40px;
}
.header-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--light-color);
  background-color: var(--primary-brand-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-social-icon {
  width: 24px;
  height: 24px;
}
/*----------------------Hero----------------------*/

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-mobile.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 112px;
  padding-bottom: 112px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192pdi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-mobile-2x.jpg);
  }
}

.hero-container {
  display: block;
  padding-left: 0;
  padding-right: 0;
}
.hero-title {
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--white-color);
  margin: auto;
  margin-bottom: 72px;
}
.hero-title span {
  text-transform: lowercase;
}
.hero-btn {
  color: var(--white-color);

  background-color: var(--primary-brand-color);

  border: inherit;

  padding: 16px 32px;

  display: block;
  margin: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state-color);
  border: inherit;
}
/*----------------------Features----------------------*/

.feature {
  padding-top: 96px;
  padding-bottom: 96px;
}
.feature-container {
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 72px;
  justify-content: space-between;
}
.feature-item {
  width: 100%;
}
.feature-illustration-fon {
  display: none;
}
.feature-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 8px;
}
.feature-text {
  color: var(--text-color);
}

/*----------------------Activity----------------------*/
.activity {
  display: none;
}
/*.activity {
  padding-bottom: 120px;
}
.activity-container {
}
.activity-title {
  margin-bottom: 72px;
}
.activity-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.activity-item {
  width: calc((100% - 48px) / 3);
}*/

/*----------------------Team----------------------*/

.team {
  background-color: var(--light-color);
  padding-top: 96px;
  padding-bottom: 128px;
}
.team-container {
}
.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-item {
  width: 100%;
}
.team-content {
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

  padding: 32px 16px;
}
.team-subtitle {
  margin-bottom: 8px;
  text-align: center;
}
.team-text {
  color: var(--text-color);
  margin-bottom: 8px;
  text-align: center;
}
.team-social-list {
  display: flex;
  justify-content: center;

  gap: 24px;
}
.team-social-item {
  width: 40px;
  height: 40px;
}
.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--light-color);
  background-color: var(--primary-brand-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-icon {
  width: 16px;
  height: 16px;
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--pressed-state-color);
}

/*----------------------Customers---------------------------*/
.customer {
  padding-top: 96px;
  padding-bottom: 96px;
}
.customer-container {
}
.customer-title {
  margin-bottom: 72px;
}
.customer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  row-gap: 72px;
}
.customer-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}
.customer-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  fill: var(--subtle-text-color);
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  fill: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}
.customer-icon {
  width: 104px;
  height: 56px;
}

/*----------------------Page Portfolio----------------------*/
/*----------------------Portfolio----------------------*/

.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}
.portfolio-container {
}
.visually-hidden {
}
.portfolio-list-btn {
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.portfolio-item-btn {
}
.portfolio-btn {
  color: var(--primary-brand-color);

  background-color: var(--light-color);

  border-color: var(--accent-color);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--pressed-state-color);
  background-color: var(--pressed-state-color);
}
.portfolio-list-pictures {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-pictures-item {
}
.portfolio-overlay {
  overflow: hidden;
  position: relative;
}
.portfolio-text-overlay {
  color: var(--light-color);
  background-color: var(--primary-brand-color);
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  top: 0;
  left: 0;

  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-link {
  display: block;
  width: 100%;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-link:hover,
.portfolio-card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-card-link:hover .portfolio-text-overlay {
  transform: translateY(0);
}

.portfolio-content {
  background: var(--white-color);
  padding: 32px 16px;
  border-right: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.portfolio-subtitle {
  margin-bottom: 8px;
}
.portfolio-text {
  color: var(--text-color);
}
/*
.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}
.portfolio-container {
}
.visually-hidden {
}
.portfolio-list-btn {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.portfolio-item-btn {
}
.portfolio-btn {
  color: var(--primary-brand-color);

  background-color: var(--light-color);

  border-color: var(--accent-color);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--pressed-state-color);
  background-color: var(--pressed-state-color);
}
.portfolio-list-pictures {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-pictures-item {
width: calc((100% - 48px) / 3); width for link

.portfolio-overlay {
  overflow: hidden;
  position: relative;
}
.portfolio-text-overlay {
  color: var(--light-color);
  background-color: var(--primary-brand-color);
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  top: 0;
  left: 0;

  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-link {
  display: block;
  width: 100%;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-link:hover,
.portfolio-card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-card-link:hover .portfolio-text-overlay {
  transform: translateY(0);
}

.portfolio-content {
  background: var(--white-color);
  padding: 32px 16px;
  border-right: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.portfolio-subtitle {
  margin-bottom: 8px;
}
.portfolio-text {
  color: var(--text-color);
}
*/

/*----------------------Footer----------------------*/

.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--dark-color);
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-info {
  margin-bottom: 72px;
}
.footer-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}
.footer-logo {
  color: var(--primary-brand-color);
  margin-bottom: 16px;
  justify-content: center;
}
.footer-text {
  color: var(--accent-color);
  max-width: 264px;
}
.footer-subtitle {
  font-size: 16px;
  color: var(--white-color);
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--light-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--success-color);
}
.footer-icon {
  width: 24px;
  height: 24px;
}
.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscribe-input {
  width: 398px;
  height: 40px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  padding: 8px 16px;
  margin-bottom: 16px;
}
.subscribe-input::placeholder {
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 165px;
  height: 40px;
  color: var(--white-color);
  background-color: var(--primary-brand-color);
  border-color: var(--primary-brand-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}
.subscribe-icon {
  fill: var(--white-color);
}
/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 408px;
  height: 584px;
  padding: 72px 24px 24px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  animation: changeOpacity 1s cubic-bezier(0.4, 0, 0.2, 1) 0.5s forwards;
}

.close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8px;
  height: 8px;
  fill: var(--black-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 24px;
  top: 24px;
  background-color: var(--light-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:active {
  background-color: var(--pressed-state-color);
}
.close-button:hover .close-icon {
  fill: var(--white-color);
}
.modal-title {
  font-weight: 500;
  text-align: center;
  margin-bottom: 8px;
}
.modal-form {
}
.form {
}
.form-input {
  margin-top: 4px;
  width: 100%;
  height: 40px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  padding-left: 42px;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: var(--primary-brand-color);
}
.form-input:focus + .form-icon {
  fill: var(--primary-brand-color);
}

.form-label {
  display: block;
  position: relative;
  margin-bottom: 8px;
}

.form-label span {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
  display: block;
}

.form-icon {
  position: absolute;
  left: 16px;
  bottom: 14%;

  fill: var(--dark-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea {
  margin-top: 4px;
  display: block;
  width: 100%;
  min-height: 120px;
  resize: none;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:focus {
  border-color: var(--primary-brand-color);
}
.form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.form-label-checkbox {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
  margin-top: 16px;
  margin-bottom: 24px;
}
.form-label-checkbox span {
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--dark-color);
  border-radius: 2px;
  fill: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox {
}

.form-checkbox:checked + .form-label-checkbox {
}
.form-checkbox:checked + .form-label-checkbox span {
  background-color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
  fill: var(--white-color);
}
.checkbox-icon {
}
.policy-link {
  color: var(--primary-brand-color);
  margin-left: 3px;
}
.form-btn {
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  display: block;
  margin: auto;
  color: var(--white-color);
  background-color: var(--primary-brand-color);
  border-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover,
.form-btn:focus {
  background-color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

@keyframes changeOpacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
